header.header{
    background-color: var(--green);
    padding: 0 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    height: var(--heade-heigth);
}

header.header h2 {
    font-size: 1.8;
}




