.menu a {
    display: block;
    list-style: none;
    text-decoration: none;
    padding: 15px;
    color: #F7EFD7;
}

aside.menu-area{
    background-color: var(--violet);
}

.menu a:hover{
    background: linear-gradient(to left , rgb(148, 206, 229) 20%, var(--green) 80%);
    color: black;
}

@media(max-width: 768px) {
    .menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .menu a {
        display: inline;
        padding: 10px;
        margin: 0;
        border-radius: 10px;
    }

    .menu {
        height: 100%;
        justify-content:  space-around;
    }
}